# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary / Scratch
scratch/
tmp/
